* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
}
body {
  background: hsl(185, 41%, 84%);
  font-family: space mono;
}
main {
  /* height: 100%; */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 2.5em 0;
}
.container {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: hsl(0, 0%, 100%);
  padding: 2em;
}
.bill .bill-input,
.bill .people-input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.bill-input img,
.people-input img {
  width: 12px;
  position: absolute;
  top: 50%;
  left: 20px;
}
.bill-input input,
.people-input input {
  border: none;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  /* font-weight: 700; */
  font-size: 1.5em;
  padding: 0.4em;
  border-radius: 8px;
  text-align: right;
  margin: 0 0 1em 0;
}
input {
  transition: 0.3s;
}
input:focus,
input:hover {
  border: 1px solid hsl(172, 67%, 45%);
  outline: none;
}

.select-tip {
  margin-top: 1em;
}
.select-tip .tips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tips .tip {
  flex: 0 0 48%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  padding: 1em;
  width: 70px;
  text-align: center;
  color: hsl(189, 41%, 97%);
  cursor: pointer;
}
.tips .tip:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
.tips .custom {
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  border: none;
  color: hsl(183, 100%, 15%);
  font-size: 1rem;
}
.custom::placeholder {
  color: hsl(183, 100%, 15%);
  text-align: center;
}
.bill-input input::placeholder, .people-input input::placeholder{
    color: hsl(183, 100%, 15%);
}

.error{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error-msg{
    display: none;
    color: red;
}
.select-tip p,
.bill label {
  color: hsl(186, 14%, 43%);
  margin: 0.7em 0;
}
.amount {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 1.5em;
}
.text {
  color: hsl(0, 0%, 100%);
}
.amount span {
  color: hsl(184, 14%, 56%);
}
.tipped-amount,
.totalled-amount {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: hsl(172, 67%, 45%);
  font-size: 1.8em;
}
.tipped-amount p,
.totalled-amount p {
  padding: 1em 0;
}
.tip-amount,
.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset-btn {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  padding: 1em;
  border-radius: 8px;
  border: 0;
  outline: none;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}
.reset-btn:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
.tips .active {
  background-color: hsl(172, 67%, 45%);
}
@media (min-width: 625px) {
  main {
    height: 100vh;
  }
  .container {
    width: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
  }
  .tips .tip {
    flex: 0 0 30.8%;
    width: 50px;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  .bill,
  .amount {
    width: 48%;
    align-self: normal;
  }
  .bill-input input,
  .people-input input {
    margin: 0.1em 0;
  }
  .select-tip {
    margin: 1.5em 0;
  }
  .amount {
    display: flex;
    flex-direction: column;
  }
  .reset-btn {
    margin-top: 4em;
    border-radius: 5px;
    padding: 0.8em 1em;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
